@import "../colors.css";


.footer {
  position: fixed;
  justify-content: space-between;
  max-height: none;
  font-size: 14px;
  height: auto;
  width: 100%;
  padding-top: 0.5rem;
  left: 0;
  bottom: 0;
  background-color: #f1f1f1;
  box-shadow: 0 -10px 8px -10px var(--light-shadow-color);
  overflow-y: hidden;
}

.topics {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  margin: 0 1rem;
}

.description {
  max-width: 30rem;
}

.copyright {
  display: flex;
  align-items: baseline;
  padding: 0 0 0.4rem 0;
  font-size: var(--font-size)-0.25rem;
}

.centeredFooter {
  padding: 1rem;
}

.redirect {
  color: var(--first-text-color);
}

.navLinks button {
  background: none;
  border: none;
  color: #555;
  cursor: var(--cursor-pointer);
  font-size: var(--font-size)-0.12rem;
  padding: 0;
}

.navLinks button:hover {
  text-decoration: underline;
}

@media screen and (orientation: landscape) {
  .footer {
    position: relative;
    margin-top: 200px;
  }
}

@media screen and (orientation: portrait) {
  .footer {
    font-size: 14px;
  }
}


@media (min-width: 2100px) and (min-height: 1100px) {
  .footer {
    font-size: 14px;
    position: fixed;
  }
}