@import "../colors.css";

.footer {
  justify-content: space-between;
  background-color: #f1f1f1;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 0.5rem;
  width: 100%;
  max-height: 2.1rem;
  box-shadow: 0 -10px 8px -10px var(--light-shadow-color);
  overflow-y: hidden;
}

.topics {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  margin: 0 1rem;
}

.description {
  max-width: 30rem;
}

.copyright {
  display: flex;
  align-items: flex-end;
  padding: 0 0 0.4rem 0;
  font-size: var(--font-size)-0.25rem;
}

.centeredFooter {
  padding: 1rem;
}

.redirect {
  color: var(--first-text-color);
}

.navLinks button {
  background: none;
  border: none;
  color: #555;
  cursor: var(--cursor-pointer);
  font-size: var(--font-size)-0.12rem;
  padding: 0;
}

.navLinks button:hover {
  text-decoration: underline;
}

/* @media (max-width: 750px) {
  .footer {
    overflow-y: scroll;
    z-index: 10;
  }

  .description,
  .copyright {
    font-size: var(--font-size)-0.12rem;
  }

  .copyright {
    align-items: flex-start;
  }
}

@media (min-width: 751px) {

  .description,
  .copyright {
    font-size: var(--font-size)-0.12rem;
  }

  .copyright {
    padding: 0 0 0 0;
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {

  .description,
  .copyright {
    font-size: var(--font-size)-0.25rem;
  }

  .copyright {
    padding: 0;
    align-items: flex-end;
  }
}

@media (min-width: 1360px) {

  .description,
  .copyright {
    font-size: var(--font-size)-0.25rem;
  }

  .copyright {
    padding-bottom: 0.5rem;
    align-items: flex-end;
  }

  .description {
    margin-top: 0;
  }
} */

@media screen and (orientation: landscape) {
  .footer {
    background-color: white;
    font-size: 14px;
    bottom: 0;
    box-shadow: 0 -10px 8px -10px var(--light-shadow-color);
    justify-content: space-between;
    left: 0;
    max-height: none;
    overflow-y: hidden;
    padding-top: .5rem;
    position: relative;
    width: 100%;
    margin-top: 200px;
  }

  .App {
    height: auto;
  }

}

@media screen and (orientation: portrait) {
  .footer {
    background-color: white;
    font-size: 14px;
    bottom: 0;
    box-shadow: 0 -10px 8px -10px var(--light-shadow-color);
    justify-content: space-between;
    left: 0;
    max-height: none;
    overflow-y: hidden;
    padding-top: .5rem;
    position: fixed;
    width: 100%;
  }
}


.copyright {
  align-items: baseline !important;
}

.title {
  margin-bottom: 30px !important;
  margin-top: 50px !important;
}

.button {
  margin-bottom: 15px !important;
}