.buttonContainer {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0 0 2rem;
}

.returnButton {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 5.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  padding: 1.25rem;
  border-radius: 0.25rem;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: var(--font-size);
}

.button {
  height: 2.5rem;
  width: 7.5rem;
  font-size: var(--font-size);
  margin-top: 1rem;
  padding: 0 0.5rem;
  color: #fff;
  transition: background-color 0.3s ease;
}

.input {
  width: 100%;
}

.input:hover {
  background-color: #f0f0f0;
}

.input:disabled {
  background-color: #f0f0f0;
  cursor: var(--cursor-not-allowed);
}


@media (max-width: 750px) {
  .title {
    font-size: var(--font-size) - 5rem;
  }

  .label {
    font-size: 0.8rem;
  }

  .input,
  .password {
    width: 15rem;
  }
}

@media (min-width: 751px) {
  .title {
    font-size: var(--font-size) + 1rem;
  }

  .label {
    font-size: 1rem;
  }

  .input,
  .password {
    width: 17.5rem;
  }
}

@media (min-width: 1024px) {}