@import "../colors.css";

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

.megaBox {
  display: flex;
  margin: 1.25rem 0;
  justify-content: space-between;
  height: 23rem;
}

.circularImage {
  width: 4.5rem;
  height: 4.5rem;
  min-width: 4.5rem;
  min-height: 4.5rem;
  border: 0.25rem solid #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.selected {
  background-color: #ebebebd0;
  border-radius: 2rem;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  font-size: 0.8rem;
  min-width: 10rem;
  border-radius: .35rem;
  border: .15rem solid #ccc;
  margin: 0 0 0 3rem;
  overflow-x: hidden;
}


.rowContainer .candidateInfo:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.rowContainer {
  border-radius: .35rem;
  overflow-y: scroll;
  min-width: 10rem;
  border: .15rem solid #ccc;
  padding: 0 0 .5rem 0;
}

.candidateInfo {
  display: flex;
  flex-direction: center;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
}

.info {
  width: 60%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 12rem;
  max-width: 17rem;
  border-radius: .25rem;
  margin: 0 0.75rem;
}

.detailsContent {
  display: flex;
  justify-content: space-between;
}

.listItem {
  font-size: var(--font-size) -0.5rem;
  list-style-type: none;
}

.candidateSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
}

.clearButton {
  margin: 0 0 .75rem 0;
}

.button {
  height: 2rem;
  width: 8.5rem;
  box-shadow: var(--shadow-color);
  font-size: var(--font-size);
}

@media (max-width: 1360px) {
  .detailsContainer {
    padding: 0 .5rem;
  }
}