@import "../colors.css";

.title {
  text-align: center;
  margin-bottom: 1.25rem;
  font-family: 'SourceCodePro', monospace;
  src: local('SourceCodePro'),
    url('../Fonts/SourceCodePro/SourceCodePro-Medium.ttf') format('truetype')
  ;
}

@media (max-width: 750px) {
  .title {
    font-size: calc(var(--font-size) - 1rem);
  }
}

@media (min-width: 751px) {
  .title {
    font-size: calc(var(--font-size) + .75rem);
  }
}

@media (min-width: 1024px) {
}
