.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0 ;
}

.downloadContainer {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 0 .75rem 0;
}

.tableContainer {
  max-width: 85%;
  border-radius: .5rem;
}