.votePageNotTime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.clock {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-part {
  padding: 10px;
  margin: 0 0.40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-separator {
  color: #000000;
  margin: 0.65rem;
  padding-bottom: 1.2rem;
}

.time {
  font-size: 0.7vw ;
}

.blocktimer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.votePage {
  display: flex;
  width: 100%;
}

.title {
  font-size: 1.3vw ;
  padding-top: 1.5rem;
}

.Table {
  width: 43.5%;
}

.TableContainer {
  display: flex;
  justify-content: center;
}

.MiniTable {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.button {
    height: 2.5rem;
    width: 10.5rem;
    background-color: var(--first-button-color);
    box-shadow: 0 10px 10px -10px var(--shadow-color);
    font-size: var(--font-size);
    margin: 1.5rem 0 0 0;
  }
  
  .button:hover {
    background-color: var(--first-button-color-hover);
  }
  
  .button:disabled {
    background-color: var(--first-button-color-disabled);
  }