@import "../colors.css";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 0 0;
}

.title {
  margin: 2rem 0 0 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0;
  height: 3rem;
  background-color: var(--first-button-color);
}

@media (max-width: 750px) {
    .title {
      font-size: calc(var(--font-size) - 1rem);
    }
  }
  
  @media (min-width: 751px) {
    .title {
      font-size: calc(var(--font-size) + .75rem);
    }
  }