:root {
    --first-color: #d7ecbd;
    --second-color: #f5f5f5;
    --third-color: #459436;
    --fourth-color: #feb932;
    --fifth-color: #e6e6e6;
    --link-color: #007bff;
    --sixth-color: #2f5141;
  
    --first-button-color: #d7ecbd;
    --second-button-color: #f5f5f5;
    --third-button-color: #459436;
    --forty-button-color: #b3d961;
    --fifth-button-color: #2f5141;
    
    /* -30 comparated to default color */
    --first-button-color-hover: #c3d8a9;
    --second-button-color-hover: #e1e1e1;
    --third-button-color-hover: #277618;
    --forty-button-color-hover: #95bb43;
    --fifth-button-color-hover: #113323;
    
    /* +20 comparated to default color */
    --first-button-color-disabled: #ebffd1;
    --second-button-color-disabled: #f5f5f5;
    --third-button-color-disabled: #59a84a;
    --forty-button-color-disabled: #dbed75;
    --fifth-button-color-disabled: #436555;
  
    /* same calc comparated to default color */
    --first-button-color-focus: #c3d8a9;
    --second-button-color-focus: #e1e1e1;
    --third-button-color-focus: #277618;
    --forty-button-color-focus: #95bb43;
  
    --second-button-color-actived: #e1e1e1;
  
    --first-text-color: #1e293b;
    --second-text-color: #f4f6fa;
    --third-text-color: #465163;

    --subtitle: #3c3c43;
    --description: #666666;
  
    --first-text-color-disabled: #3c4759;
  
    --delete-button: #F0AD4E;
  
    --shadow-color: #505050;
    --light-shadow-color: #646464;
    --box-shadow: 0 0.625rem 0.625rem -0.625rem var(--shadow-color);
  
    --mobile-width: 750px;
    --tablet-width: 751px;
    --desktop-width: 1024px;
  }